<h1>Box Marauder's Map: First Floor</h1>
<%= render "nav" %>
<p>

<div id="map_container">
	<img class="map" src="/images/first.png"/>
	<% @first_floor_users.each do |hub, users| %>
		<div id="hub1-<%= hub %>" class="hub">
			<% users.each do |user| %>
				<%= user %><br>
			<% end %>
		</div>
	<% end %>
</div>
